:root {
  --primary-color: #0f2233;
  --secondary-color: #82bda2;
  --tertiary-color: #dddd80;
  --text-color: #fff;
  --navbar-color: #0f223398;

  --font-title: 7rem;
  --font-subTitle: 5rem;
  --font-onderTitle: 3rem;
  --font-text: 2rem;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0 0;
  color: var(--text-color);
  background-color: var(--primary-color);
  overflow-x: hidden;
}
