.luuk {
  background: linear-gradient(#e66465, #9198e5);
  background-clip: text;
  color: transparent;
  font-size: 2em;
  font-weight: bold;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navBar {
  display: flex;
  gap: 1em;
}

.text {
  text-decoration: none;
  color: gray;
}

.text:hover {
  color: red;
}
