.mainContainer,
.mainContainer:before,
.mainContainer:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  background-color: var(--primary-color);
  overscroll-behavior: none;
  -ms-overflow-style: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: x mandatory;
}

.scrollContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  scroll-snap-type: x mandatory;
}

.ghost {
  width: 100vw;
  scroll-snap-type: x mandatory;
}
.thumbnailsContainer {
  position: relative;
  height: 97vh;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 800px 0 500px;
  scroll-snap-type: x mandatory;
}

.thumbnails {
  position: relative;
  display: flex;
  scroll-snap-type: x mandatory;
}

.thumbnail {
  height: 40vh;
  width: 700px;
  scroll-snap-type: y mandatory;
}
